Repository roadtocode4u/spaceship, pull requests merged in 2023-02, with the labels that each got.

#71 doc: variable and datatypes readme added
  docs/python-programming/01-variable-and-datatypes/01-variable-and-datatypes.md
Labels: python-doc

#72 doc: added python introduction file
  docs/python-programming/00-introduction/00-introduction.md
  static/python/00/guido-vann-rossum.png
  static/python/00/pythonlogo.png
Labels: python-doc

#73 intro c
  docs/c-programming/00-introduction/00-introduction.md
  static/c/00/Dennis.jpg
Labels: c-doc

#74 doc: datatype and variable
  docs/c-programming/01-datatypes-and-variable/01-datatypes-and-variable.md
Labels: c-doc

#75 taking-input-from-user
  docs/c-programming/02-taking -input -from -user/01-aking -input -from -user.md
Labels: c-doc

#76 ref: changes in introduction to python doc
  docs/python-programming/00-introduction/00-introduction.md
Labels: python-doc

#77 doc: variables and datatypes
  docs/python-programming/01-variable-and-datatypes/01-variable-and-datatypes.md
Labels: python-doc

#79 doc: arithmetic operator
  docs/python-programming/03-operators/03-operators.md
Labels: python-doc

#78 doc: operators
  docs/c-programming/03-operators/03-operators.md
Labels: c-doc

#80 Assignment Operators, Comparison Operators and Ternary Operator
  docs/c-programming/03-operators/03-operators.md
Labels: c-doc

#82 feat: taking-input-from-user
  docs/python-programming/01-variable-and-datatypes/01-variable-and-datatypes.md
  docs/python-programming/02-taking-input-from-user/02-taking-input-from-user.md
Labels: python-doc

#87 doc: changes in output of taking input from user
  docs/python-programming/02-taking-input-from-user/02-taking-input-from-user.md
Labels: python-doc

#90 doc: 08-py-sets
  docs/python-programming/08-set/08-set.md
Labels: python-doc

#88 doc: 07-tuple-page
  docs/python-programming/07-tuple/07-tuple.md
Labels: python-doc

#93 doc: arithmatic and assignment operator
  docs/icp/27-operators/27-operators.md
Labels: icp-doc
