Repository roadtocode4u/spaceship, pull requests merged in 2023-06, with the labels that each got.

#192 doc: mongoDB-CRUD-operations
  docs/icp/46-introduction-to-mongodb/46-introduction-to-mongodb.md
  static/icp/46/step-26.png
  static/icp/46/step-27.png
  static/icp/46/step-28.png
  static/icp/46/step-29.png
  static/icp/46/step-30.png
  static/icp/46/step-31.png
  static/icp/46/step-32.png
  static/icp/46/step-33.png
  static/icp/46/step-34.png
  static/icp/46/step-35.png
  static/icp/46/step-36.png
Labels: icp-doc

#194 ref: css-introduction
  docs/icp/12-introduction-to-css/12-introduction-to-css.md
  static/icp/12/output-2.png
  static/icp/12/output-3.png
Labels: icp-doc

#195 doc : border and border radius
  docs/icp/12-introduction-to-css/12-introduction-to-css.md
  docs/icp/14-border-and-border-radius/14-border-and-border-radius.md
  docs/icp/14-border-margin-padding/14-border-margin-padding.md
  static/icp/14/output-1.png
  static/icp/14/output-2.png
  static/icp/14/output-3.png
  static/icp/14/output-4.png
  static/icp/14/output-5.png
  static/icp/14/output-6.png
  static/icp/14/output-7.png
  static/icp/14/output-8.png
  static/icp/14/output-9.png
Labels: icp-doc

#196 doc: introduction-to-apis
  docs/icp/47-Introduction-to-apis/47-Introduction-to-apis.md
  static/icp/47/step-1.jpg
  static/icp/47/step-2.png
Labels: icp-doc

#197 ref: border and border radius readme
  docs/icp/14-border-and-border-radius/14-border-and-border-radius.md
  static/icp/14/output-10.png
  static/icp/14/output-11.png
  static/icp/14/output-9.png
Labels: icp-doc

#198 doc: padding-margin-added
  docs/icp/16-padding-margin-box-model/16-padding-margin-box-model.md
  static/icp/16/step-1.png
  static/icp/16/step-2.png
  static/icp/16/step-3.png
  static/icp/16/step-4.png
  static/icp/16/step-5.png
  static/icp/16/step-6.png
  static/icp/16/step-7.png
  static/icp/16/step-8.png
Labels: icp-doc

#199 doc: mongoose using api
  docs/icp/46-introduction-to-mongodb/46-introduction-to-mongodb.md
  docs/icp/47-Introduction-to-apis/47-Introduction-to-apis.md
  package-lock.json
  package.json
  static/icp/47/step-3.png
Labels: icp-doc

#200 doc : text-align and font-family
  docs/icp/18-text-align-font-family/18-text-align-font-family.md
  static/icp/18/output-1.png
  static/icp/18/output-2.png
  static/icp/18/output-3.png
  static/icp/18/output-4.png
  static/icp/18/output-5.png
  static/icp/18/output-6.png
Labels: icp-doc

#201 doc: box-shadow-added
  docs/icp/17-box-shadow-hover/17-box-shadow-hover.md
  static/icp/17/step-1.png
  static/icp/17/step-2.png
Labels: icp-doc

#202 doc: inline-block-element
  docs/icp/19-inline-and-block-properties/19-inline-and-block-properties.md
  static/icp/19/girl.png
  static/icp/19/output-1.png
  static/icp/19/output-2.png
  static/icp/19/output-3.png
  static/icp/19/step-1.png
  static/icp/19/step-2.png
  static/icp/19/step-3.png
  static/icp/19/step-4.png
  static/icp/19/step-5.png
  static/icp/19/step-6.png
  static/icp/19/step-7.png
  static/icp/19/step-8.png
Labels: icp-doc

#204 doc: api-calls-using-axios
  docs/icp/48-axios/48-axios.md
  static/icp/48/step-1.png
  static/icp/48/step-2.png
Labels: icp-doc

#205 ref : changed api img
  docs/icp/47-Introduction-to-apis/47-Introduction-to-apis.md
  static/icp/47/step-1.jpg
  static/icp/47/step-1.png
Labels: icp-doc

#206 ref : description and font color modified
  docs/icp/12-introduction-to-css/12-introduction-to-css.md
Labels: icp-doc

#207 ref : taking input from user readme modified
  docs/python-programming/04-taking-input-from-user/04-taking-input-from-user.md
  docs/python-programming/19-string-operation/19-string-operation.md
  docs/python-programming/19-user-input/19-user-input.md
Labels: python-doc

#209 doc: split-and-string-function-added
  docs/python-programming/05-split-and-length-function-multiline-string/05-split-and-length-function-multiline-string.md
  docs/python-programming/19-conditional-statements/19-conditional-statements.md
  docs/python-programming/19-string-operation/19-string-operation.md
Labels: icp-doc

#212 doc : comments and string methods readme
  docs/python-programming/06-comments-and-string-operations/06-comments-and-string-operations.md
Labels: python-doc

#210 ref : modified readme introduction to c programming
  docs/c-programming/00-introduction/00-introduction.md
  docs/c-programming/02-taking-input-from-user/02-taking-input-from-user.md
  docs/c-programming/03-operators/03-operators.md
  docs/c-programming/04-comments/04-comments.md
  docs/c-programming/08-arrays/08-arrays.md
  docs/c-programming/09-linear search and binary search/09-linear search and binary search.md
  docs/c-programming/10-string/10-string.md
  docs/c-programming/11-ascii-and-operations-on-string/ascii-and-operations-on-string.md
Labels: c-doc

#214 ref: python-type()-function-added
  docs/python-programming/01-variable-and-datatypes/01-variable-and-datatypes.md
Labels: python-doc

#215 updated position readme
  docs/icp/20-positions/20-positions.md
  static/icp/20/output-8.png
Labels: icp-doc

#217 ref : corrected some grametical mistakes and string methods first letter converted into lowercase
  docs/python-programming/06-comments-and-string-operations/06-comments-and-string-operations.md
Labels: python-doc

#216 ref: list-doc-sort-method-description-added
  docs/python-programming/06-list/06-list.md
Labels: python-doc

#223 css-color-description-added
  docs/icp/22-media-queries/22-media-queries.md
  static/icp/22/output-10.png
  static/icp/22/output-5.png
  static/icp/22/output-6.png
  static/icp/22/output-7.png
  static/icp/22/output-8.png
  static/icp/22/output-9.png
Labels: icp-doc

#227 Correct css interview question
  docs/icp/14-inline-external-and-internal-css/14-inline-external-and-internal-css.md
  docs/icp/91-css/91-css.md
  static/icp/14/output-12.png
  static/icp/14/output-13.png
  static/icp/14/output-14.png
  static/icp/14/output-15.png
Labels: icp-doc

#225 ref : updated examples in readme guide
  docs/icp/14-inline-external-and-internal-css/14-inline-external-and-internal-css.md
  static/icp/14/output-12.png
  static/icp/14/output-13.png
  static/icp/14/output-14.png
  static/icp/14/output-15.png
Labels: icp-doc

#226 added css interview questions
  docs/icp/14-inline-external-and-internal-css/14-inline-external-and-internal-css.md
  docs/icp/91-css/91-css.md
  static/icp/14/output-12.png
  static/icp/14/output-13.png
  static/icp/14/output-14.png
  static/icp/14/output-15.png
Labels: icp-doc

#228 ref : new descriptions and examples updated in set readme
  docs/python-programming/08-set/08-set.md
Labels: python-doc

#222 ref: html-int-qus-updated
  docs/icp/90-html/90-html.md
Labels: icp-doc

#229 ref: tuple-doc-updated
  docs/python-programming/07-tuple/07-tuple.md
Labels: python-doc

#231 ref : updated description and examples
  docs/c-programming/05-conditional-statements/05-conditional-statements.md
Labels: c-doc

#232 ref : updated grammetical mistakes in tuple readme
  docs/python-programming/07-tuple/07-tuple.md
Labels: python-doc

#234 syntax added and upadeted all examples
  docs/python-programming/09-dictionary/09-dictionary.md
Labels: python-doc

#235 ref: background-img-decription-added
  docs/icp/17-box-shadow-hover/17-box-shadow-hover.md
  static/icp/17/step-10.png
  static/icp/17/step-4.png
  static/icp/17/step-5.png
  static/icp/17/step-6.png
  static/icp/17/step-7.png
  static/icp/17/step-8.png
  static/icp/17/step-9.png
Labels: icp-doc

#236 ref: string-operation-remove-in-conditional-folder
  docs/python-programming/03-operators/03-operators.md
  docs/python-programming/19-conditional-statements/19-conditional-statements.md
Labels: python-doc

#237 ref : folder structure readme added
  docs/icp/22-media-queries/22-media-queries.md
  static/icp/22/output-11.png
  static/icp/22/output-12.png
  static/icp/22/output-13.png
  static/icp/22/output-14.png
  static/icp/22/output-15.png
Labels: icp-doc

#238 ref: github-acc-creation-steps-img-added
  docs/icp/23-git-and-github/23-git-and-github.md
  static/icp/23/step-1.png
  static/icp/23/step-2.png
  static/icp/23/step-3.png
  static/icp/23/step-4.png
  static/icp/23/step-5.png
  static/icp/23/step-6.png
  static/icp/23/step-7.jpeg
Labels: icp-doc

#233 ref: js-interview-question-added
  docs/icp/92-js/92-js.md
Labels: icp-doc

#242 ref : que and ans structure added in proper way
  docs/icp/91-css/91-css.md
Labels: icp-doc

#240 ref : descriptions added in proper way
  docs/c-programming/07-loops/07-loops.md
Labels: c-doc

#239 doc : react interview questions added
  docs/icp/93-react/93-react.md
Labels: icp-doc

#241 ref : mongodb interview questions added
  docs/icp/95-mongodb/95-mongodb.md
Labels: icp-doc

#243 ref: html-int-qus-added-in-proper-format
  docs/icp/90-html/90-html.md
Labels: icp-doc
