Repository roadtocode4u/spaceship, pull requests merged in 2023-03, with the labels that each got.

#95 else-if-ladder added
  docs/c-programming/05-conditional-statements/05-conditional-statements.md
  docs/c-programming/07-loops/07-loops.md
Labels: c-doc

#99 doc: icp comparion operator doc added
  docs/icp/27-operators/27-operators.md
Labels: icp-doc

#100 doc: logical operator
  docs/icp/27-operators/27-operators.md
Labels: icp-doc

#102 Icp homework
  docs/icp/00-homework/00-homework.md
Labels: icp-doc

#103 doc: py-03-comparission-operators
  docs/python-programming/03-operators/03-operators.md
Labels: python-doc

#97 doc:create if else statement readme
  docs/python-programming/05-conditional-statements/05-conditional-statements.md
Labels: documentation, python-doc

#113 doc: javascript function
  docs/icp/37-function-in-javascript/37-function-in-javascript.md
  docs/python-programming/05-conditional-statements/05-conditional-statements.md
Labels: icp-doc

#115 doc: nested-if-05-conditional-statements
  docs/python-programming/05-conditional-statements/05-conditional-statements.md
Labels: python-doc

#117 doc: js event
  docs/icp/33-events/33-events.md
  static/icp/33/output-1.png
  static/icp/33/output-2.png
  static/icp/33/output-3.png
  static/icp/33/output-4.png
Labels: icp-doc

#119 create loops readme
  docs/python-programming/10-loops/10-loops.md
Labels: python-doc

#120 ref: py loop doc
  docs/python-programming/10-loops/10-loops.md
Labels: python-doc

#121 doc:create break and continue keyword readme
  docs/python-programming/10-loops/10-loops.md
Labels: python-doc

#122 small changes in loops
  docs/python-programming/10-loops/10-loops.md
Labels: python-doc

#124 doc: py-10-while-loop
  docs/python-programming/10-loops/10-loops.md
Labels: python-doc

#128 create function readme
  docs/python-programming/11-function/11-function.md
Labels: python-doc

#130 doc: py-12-arbitrary & default arguments
  docs/python-programming/11-function/11-function.md
  docs/python-programming/12-arbitrary-arguments-default-arguments/12-arbitrary-arguments-default-arguments.md
Labels: python-doc

#131 doc: py-class-&-object
  docs/python-programming/14-class-object/14-class-object.md
Labels: python-doc

#132 doc: py-inheritance
  docs/python-programming/15-inheritance/15-inheritance.md
Labels: python-doc

#138 doc: py-four pillars of OOPs
  docs/python-programming/15-inheritance/15-inheritance.md
Labels: python-doc

#143 doc: create math module readme and tkinter readme
  docs/python-programming/13-math-modules/13-math-modules.md
  docs/python-programming/16-constructor-destructor/16-constructor-destructor.md
  docs/python-programming/17-tkinter/17-tkinter.md
  static/python/17/first.png
  static/python/17/forth.png
  static/python/17/second.png
  static/python/17/third.png
Labels: python-doc

#141 doc: py-constructor & destructor
  docs/python-programming/16-constructor-destructor/16-constructor-destructor.md
Labels: python-doc
